@font-face {
	font-family: 'Mina-Regular';
	src: url('fonts/Mina-Regular.ttf');
}

footer {
	font-family: 'Mina-Regular';
	width: 100%;
	text-align: center;
	position: fixed;
	left: 0;
	z-index: 100;
}


