@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Mina-Regular';
	src: url('fonts/Mina-Regular.ttf');
}

:root {
	--color-purple: #803C9E;
	--color-gray: #F6F1F6;
}

body {
  margin: 0;
  font-family: 'Mina-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F1F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
